@import 'tailwindcss';
@import '@web/ui/style.css';
@source '../../../ui/src';

@layer base {
  html,
  body {
    margin: 0;
    min-height: 100%;
  }

  html {
    min-height: 100%;
  }

  body {
    min-height: 100vh;
    min-height: 100svh;
    overflow-y: auto;

    --mask-color: rgb(0 0 0 / 0.2);

    background-image: linear-gradient(var(--mask-color), var(--mask-color)), url('./images/bg.png');

    background-position:
      left top,
      left top;

    background-size: cover, cover;

    background-repeat: no-repeat, no-repeat;

    background-attachment: fixed, fixed;
  }
}
